h1
{
	border-style: solid;
    text-align: center;
    color:      black;
	background-color: red;
	}
body 
{
    background-color: #996666;
	}
button
{
	background-color: #008CBA;
	}
div 
{
    text-align: center;
    border: 1px solid green;
	}
	
	
	